In [20]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv('data/Churn_Modelling.csv')

In [22]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [24]:
df.duplicated().sum()

np.int64(0)

In [25]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [26]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [27]:
df.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [39]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True).astype(int)

In [40]:
X=df.drop(columns=['Exited'])
y=df['Exited']
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,0,0,0
1,608,41,1,83807,1,0,1,112542,0,1,0
2,502,42,8,159660,3,1,0,113931,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0
4,850,43,2,125510,1,1,1,79084,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,1
9997,709,36,7,0,1,0,1,42085,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0

In [41]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [42]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [58]:
model=Sequential()
model.add(Dense(3,activation='relu',input_dim=11))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

/Users/piyushmishra/Desktop/churnprediction/venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [59]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 3)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 11)             │            44 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 92 (368.00 B)

 Trainable params: 92 (368.00 B)

 Non-trainable params: 0 (0.00 B)

In [60]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [61]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - loss: 0.5156
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - loss: 0.4667
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 257us/step - loss: 0.4505
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - loss: 0.4405
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 261us/step - loss: 0.4336
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - loss: 0.4276
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - loss: 0.4221
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 250us/step - loss: 0.4183
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.4149
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.4120

In [62]:
model.layers[0].get_weights()

[array([[-0.00937553,  0.2002896 , -0.03907738],
        [ 0.5927549 , -0.95772547, -0.99792594],
        [ 0.1780961 , -0.08451314,  0.11364481],
        [-0.01821501, -0.25232768, -0.02098402],
        [-0.03260945,  0.08620548, -0.00389796],
        [ 0.08908761, -0.24668919,  0.26286924],
        [ 1.041639  , -0.22269437,  0.43869606],
        [-0.08825514, -0.1838743 ,  0.15057082],
        [-0.430369  , -0.09837864, -0.27763543],
        [-0.06382004, -0.48208618,  0.28161362],
        [ 0.32492232,  0.22173555,  0.12263592]], dtype=float32),
 array([-0.06857634,  0.41074678,  0.8527643 ], dtype=float32)]

In [63]:
y_log=model.predict(X_test_scaled)
y_pred=np.where(y_log>0.5,1,0)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step

In [64]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.838